<!DOCTYPE html>
<html lang="en">

<head>
    <title>게시판</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<input type="hidden" name="pwd" value="{{post.pwd}}"></input>
<script>
    function deleteFunc() {
        var pwd = prompt("비밀번호 입력", '');

        if (pwd == '{{post.pwd}}') {
            window.location.href = "{% url 'post_delete' post.id %}";
            alert('삭제성공');

        } else {
            alert('돌아가');
        }
    }

    function editFunc() {
        var pwd = prompt("비밀번호 입력", '');

        if (pwd == '{{post.pwd}}') {
            window.location.href = "{% url 'post_edit' post.id %}";
        } else {
            alert('돌아가');
        }
    }
</script>

<body>
    <div class="container">
        <h2><B>Prography 5th Django CRUD Board</B></h2>
        <input type="hidden" name="hit_value" value="{{post.hit_value}}"></input>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        <h3>{{post.title}}</h3>
                    </td>
                </tr>
                <tr>
                    <td style="width:80%">{{post.writer}}</td>
                    <td style="width:20%">{{post.date}}</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{post.contents|linebreaks}}</td>
                </tr>
            </tbody>


        </table>

        <p style="text-align:right; font-size:130%">
            <a id='post_edit' onclick="editFunc()">수정</a> &nbsp;
            <a id='post_delete' onclick="deleteFunc()">삭제</a> &nbsp;
            <a href="{% url "post_list" %}">목록</a>
        </p>
</body>

</html>